[2016-10-28 08:36] #223 closed

[2016-10-28 08:38] #208 closed

[2016-10-28 08:38] #95 closed

[2016-10-28 08:39] #112 closed

[2016-10-28 08:40] #73 closed

[2016-10-28 09:02] jonathanolson commented on #40
Will handle cue issues in #231.

[2016-10-28 09:02] #40 closed

[2016-10-28 12:34] bethstade commented on #231
Can I access the new version when I am on campus this morning?

----- Original Message -----From: Jonathan Olson <notifications@github.com>To: phetsims/make-a-ten <make-a-ten@noreply.github.com>Cc: bethstade <stadee@colorado.edu>, Mention <mention@noreply.github.com>Sent: Fri, 28 Oct 2016 08:33:13 -0000 (UTC)Subject: Re: [phetsims/make-a-ten] New arrow cues (#231)

Assigned #231 to @bethstade.
&md

[2016-10-28 15:53] #213 closed

[2016-10-28 15:53] #243 closed

[2016-10-28 16:27] samreid commented on #231
@jonathanolson I'm happy to discuss it, but my instinct on seeing a url like:

`http://my.url.com/sim.html?exploreNumbers=&otherQueryString`
or
`http://my.url.com/sim.html?exploreNumbers=`

is that they look like syntax errors.

Would it be acceptable to use:
`http://my.url.com/sim.html?otherQueryString`
or
`http://my.url.com/sim.html`

instead?  (i.e. omitting the key and provide a default value

[2016-10-28 16:32] samreid commented on #231
Alternatively, we could add (optional?) array boundaries, like:

`http://my.url.com/sim.html?exploreNumbers=[]&hello`
`http://my.url.com/sim.html?exploreNumbers=[0,2,81]&hello`

[2016-10-28 16:34] jonathanolson commented on #231
I'll have a URL accessible very soon.

[2016-10-28 16:38] jonathanolson commented on #231
The default needs to be [ 10 ].

No strong preference (lean towards suggested empty-string value instead of requiring brackets), but it would be ideal to have at least one way to input empty arrays.

[2016-10-28 16:40] jonathanolson commented on #231
@bethstade, try http://phettest.colorado.edu/make-a-ten/build/make-a-ten_en.html.

[2016-10-28 16:44] bethstade commented on #231
The cue look good.  And the logic you implemented makes sense and seems consistent.  I really like how persistent the cues are.

[2016-10-28 16:44] samreid commented on #231
I created a QSM issue for investigation.  How soon do you need this?

[2016-10-28 16:48] jonathanolson commented on #231
?exploreNumbers=0 is a current workaround, I don't think it's at all high priority. It's just something I thought would (and should) work.

[2016-10-28 17:02] jonathanolson commented on #151
Implemented. Disabling by lowering opacity (the usual method) didn't really look great. Making them disappear fully seems to work much better.

Let me know if that works, or if I should make changes.

[2016-10-28 17:31] bethstade commented on #240
I had a chance to look at this with Kathy this morning.  Very very jumpy and really loses the very important feel of pulling apart the number.  We suggest not implementing this change and sticking with the occasional "accidental" pull apart.

[2016-10-28 17:32] bethstade commented on #233
This is very nice.  Now touching the middle of the number pulls part, but just below moves.  I think this will help users find the actions much quicker.

[2016-10-28 17:38] bethstade commented on #151
<img width="1198" alt="screen shot 2016-10-28 at 11 37 14 am" src="https://cloud.githubusercontent.com/assets/5370001/19816082/03c817bc-9d03-11e6-8ee3-4144a4b4c4f5.png">
I am still able to get over 10,000

[2016-10-28 17:39] bethstade commented on #151
<img width="1260" alt="screen shot 2016-10-28 at 11 38 02 am" src="https://cloud.githubusercontent.com/assets/5370001/19816101/2b14df6c-9d03-11e6-811c-a83ea2e8cc4b.png">
Also tried to put a 500 on 9500, the 500 is resting on the 9500 and then the screen froze.

[2016-10-28 17:48] jonathanolson commented on #151
For up-to-date testing however, please use http://phettest.colorado.edu/make-a-ten/make-a-ten_en.html?ea&brand=phet if you are on campus.

[2016-10-28 17:49] jonathanolson commented on #151
Also launching with a 9700 (http://phettest.colorado.edu/make-a-ten/make-a-ten_en.html?ea&brand=phet&exploreNumbers=9700) makes testing this easier.

[2016-10-28 18:04] jonathanolson commented on #240
Changed behavior to remove the shift (see http://phettest.colorado.edu/make-a-ten/make-a-ten_en.html?ea&brand=phet).

Closing.

[2016-10-28 18:04] #240 closed

[2016-10-28 18:46] jonathanolson opened #245 "Consider BAM-like repulsion for numbers"
With 3+ numbers, it's possible to cause overlapping numbers that may be tricky:
![screen shot 2016-10-28 at 12 41 09 pm](https://cloud.githubusercontent.com/assets/480878/19818192/f7623418-9d0b-11e6-9a99-83f77d3b6d7c.png)
(in this example, there are two numbers on the left, and one on the right).

Should I look into a Build a Molecule-like repulsion, where:
1. Any non-combined numbers always push

[2016-10-28 20:07] #54 closed

[2016-10-28 20:07] #60 closed

[2016-10-28 20:09] jonathanolson commented on #39
Seems to be implemented on all screens, although it won't occur if paper numbers are combined or repelled. Can you verify, and let me know if that's a problem?

[2016-10-28 20:10] #61 closed

[2016-10-28 20:41] bethstade commented on #245
I am not sure we want to address this.  We also see this issue with single digits and double digits - you can put a 3 onto of the one digit of the number 10 and it looks like a 30.  I believe we decided NOT to address this unless it was an issue in interviews.  It is something teachers have pointed out, but we can also see the advantages to less jumpy behavior and discussion about how numbers look

[2016-10-28 20:49] bethstade commented on #151
great. that is a big help.  I thought I had the right version when I was on campus?  It seemed to be the new version. Will try again on Monday with the link you recommended.

[2016-10-28 22:21] jonathanolson commented on #16
@ariel-phet, I just realized I'm not sure what you are recommending (included features from both), can you clarify:

1. Pendulum-lab solution where the touch areas extend beyond the paper numbers themselves, and it picks the closest paper number hit area.
2. Leave touch areas as they are now (same as mouse areas, they do NOT extend beyond the paper numbers).

[2016-10-28 22:22] jonathanolson opened #246 "KeyboardPanel deduplication"
See https://github.com/phetsims/scenery-phet/issues/271

[2016-10-28 22:33] #108 closed

[2016-10-28 22:49] #136 closed

[2016-10-28 23:32] jonathanolson commented on #131
I've matched all listeners so it shouldn't leak memory. In a 30-minute run, it stayed in the 30-34 MB range.

[2016-10-28 23:32] #131 closed

[2016-10-31 18:30] ariel-phet commented on #16
@jonathanolson I was going off of your comment https://github.com/phetsims/make-a-ten/issues/16#issuecomment-184867729

[2016-10-31 18:31] ariel-phet commented on #16
So @jonathanolson please review the comment you made, and use your best judgement as to a solution.

[2016-11-01 20:56] amanda-phet commented on #151
This is looking good to me. I like that the last numbers are removed from the number panel. @bethstade once you have looked it over I think you can close this issue.

[2016-11-01 21:00] amanda-phet commented on #231
@jonathanolson
1. The circular cue is perfect.
2. That sounds correct.
3. That works for me.
4. Yes, you are correct. I should have been more specific.

This looks great to me!

[2016-11-01 21:01] amanda-phet commented on #233
The touch areas look good. Closing this issue, but if interviews show us that the touch areas need to be changed I will re-open this issue.

[2016-11-01 21:01] #233 closed

[2016-11-01 21:15] amanda-phet commented on #235
The alignment looks perfect to me.

To make the text more readable and have a better contrast ratio, can you please do two things:
1. Make the text black (#000000)
2. Change the purple color (for the level selection buttons and the status bar) to #9778CC

I checked with the [color contrast checker] (http://webaim.org/resources/contrastchecker/) and for all three colors we are AAA for large text an

[2016-11-01 21:20] amanda-phet commented on #245
Let's consider this after interviews.

[2016-11-01 21:25] amanda-phet opened #247 "Number alignment seems off"
Because of the transparency settings, it is really obvious that something is off here:

![screen shot 2016-11-01 at 3 22 07 pm](https://cloud.githubusercontent.com/assets/7852916/19908077/42157b9e-a047-11e6-8768-2414dc779759.png)

The numbers should be aligned so that the 0s completely overlap each other. I'm not sure if this issue arose because the artwork was changed slightly (#241), or if the a

[2016-11-02 00:16] bethstade commented on #151
do we have a current dev version?

----- Original Message -----From: Amanda McGarry <notifications@github.com>To: phetsims/make-a-ten <make-a-ten@noreply.github.com>Cc: bethstade <stadee@colorado.edu>, Mention <mention@noreply.github.com>Sent: Tue, 01 Nov 2016 20:56:52 -0000 (UTC)Subject: Re: [phetsims/make-a-ten] Explore screen should have limited numbers (#151)

This is looking good to me. I lik

[2016-11-02 05:47] jonathanolson commented on #151
http://www.colorado.edu/physics/phet/dev/html/make-a-ten/1.0.0-dev.8/make-a-ten_en.html is a snapshot of the current code.

[2016-11-02 17:25] amanda-phet commented on #39
I'm not sure I understand what you mean here. Do you mean there are three behaviors when a small number is behind a large number: the small number comes forward, the two numbers combine, or the two numbers repel?

That sounds about right. I can't think of a scenario where we want a different behavior.

[2016-11-02 17:25] #239 closed

[2016-11-02 17:30] amanda-phet commented on #245
I think I understand this better now. This is an odd scenario and seems like it could be confusing to a user if they encounter it.

With a BAM-like repulsion, I could also see a domino effect happening if the play area is covered with numbers. What would happen if there is no room for numbers to repel? Would they eventually combine? Or overlap as they do now?

[2016-11-02 18:12] jonathanolson commented on #245
They would presumably fill all available room on the screen as evenly as possible without combining.

Currently the only way to combine numbers is to actually "drop" one.

[2016-11-02 18:28] jonathanolson commented on #39
Yes, that's what happens when a number is dropped.

Sounds good, will close this issue. Feel free to reopen or create another issue if we identify layering issues in future testing.

[2016-11-02 18:28] #39 closed

[2016-11-03 14:56] bethstade commented on #151
looks great.

[2016-11-03 14:56] #151 closed

[2016-11-09 09:15] jonathanolson opened #248 "Handle marked TODOs"

[2016-11-09 09:16] #241 closed

[2016-11-09 09:25] jonathanolson commented on #247
The original assets and exported images had large differences in the placements of both the zeros and non-zero digits (along with image size differences and alignment differences) that would have made it very difficult to handle aligning the zeros.

Thus I've rebuilt the paper numbers by separating them into digit images (0-9) and paper backgrounds (1-4 digits long), so that all of the alignment w

[2016-11-09 21:26] jonathanolson commented on #235
Done, let me know how it looks.

[2016-11-09 23:57] jonathanolson commented on #16
Added behavior as described, where touches close to numbers can move or pull off. @amanda-phet, are you able to test?

[2016-11-10 00:25] jonathanolson opened #249 "Fill in credits"

[2016-11-10 00:49] #248 closed

[2016-11-10 01:01] jonathanolson commented on #2
generally match the values, such as {binaryProbability: "Binary Probability"}. Screen names should use screen.screenName instead of
camelcase. Message patterns and long paragraphs will also use a different pattern.

@samreid, is this style of key allowable:
[code]

[2016-11-10 01:05] jonathanolson opened #250 "Additional assets"
Code review doc notes:

@amanda-phet, the level selection button icons and screen icons don't have a related asset. Does this need to be added?

[2016-11-10 04:15] samreid commented on #2
Here are some key-value pairs and my recommendations:

[code]

For patterns, we inherited this from our Java sims, even though it is ugly at least it would be consistent:

![image](https://cloud.githubusercontent.com/assets/679486/20164357/7c4e1ca0-a6c1-11e6-98f1-5650e2197245.png)

[2016-11-10 04:16] samreid commented on #2
I think Arithmetic has a level pattern like the one you need.

[code]

[2016-11-10 04:17] jonathanolson commented on #2
Additionally, is phet-io instrumention required now, as it's on the checklist?

[2016-11-10 04:21] samreid commented on #2
I committed a change (see above) that clarifies that the PhET-iO checklist is only to be used for simulations that are already instrumented or should be instrumented.

[2016-11-11 20:53] #246 closed

[2016-11-11 21:48] #135 closed

[2016-11-11 22:09] jonathanolson opened #251 "Performance Check"
I just checked on an old iPad 3 (as part of the code-review guidelines), and the performance seems fairly acceptable, with the most annoying thing being a slight delay when dragging a number out of the bottom panel on the Explore screen.

@ariel-phet, should this wait for dev/RC testing, or does the performance seem acceptable?

[2016-11-11 22:10] jonathanolson commented on #2
Everything except the assets (https://github.com/phetsims/make-a-ten/issues/250), performance (https://github.com/phetsims/make-a-ten/issues/251) and credits (https://github.com/phetsims/make-a-ten/issues/249) has been handled here.

Closing, as those are already in stand-alone issues.

[2016-11-11 22:10] #2 closed

[2016-11-11 22:11] jonathanolson commented on #249
@ariel-phet, can we anticipate which QA testers will work on this, so I can completely fill in the credits, or should this wait until after testing?

[2016-11-11 22:13] jonathanolson commented on #1
Handled all open issues and completed code review tasks, waiting on testing/feedback. Unassigning myself.

[2016-11-11 22:32] jonathanolson commented on #249
Added credits.

[2016-11-11 22:32] #249 closed

[2016-11-11 23:34] ariel-phet commented on #251
Played with the sim on iPad 2 and performance seems perfectly smooth. I see no issues.

@jonathanolson good to have done a performance check now, but all seems good. QA will reveal if there if there are any subtle problems, but all looking good!

[2016-11-11 23:34] #251 closed

[2016-11-21 18:45] amanda-phet commented on #231
@jonathanolson When Kathy observed a teacher using this sim, she thought the circular arrow cue was implying that something "fancy" would happen, or that she had to spin something around. We agreed that a straight, 45˚ arrow pointing NE would be clearer. Can you possibly implement this change today/tomorrow so I can try to schedule interviews for 11/23?

[2016-11-21 18:48] amanda-phet commented on #235
Looks good. Thank you! Closing.

[2016-11-21 18:48] #235 closed

[2016-11-21 19:01] amanda-phet commented on #247
I think this was intentional... because 7 is a wide number, and if you don't offset it and build, say 750, the paper 50 would partially cover the 7. If you don't offset the 7, and this is not the case, then I don't see a reason not to remove the offset.

Yes, very intentional. Numbers like 21 and 31 look odd if the 1 is too far right, but numbers like 17 and 18 look odd if the 1 is too far left.

[2016-11-23 06:37] jonathanolson commented on #247
Master now removed most offsets (kept some on the single digits). There are no per-digit customized offsets for anything but single digits.

Let me know how it looks (phettest), particularly the 10s, 100s and 1000s (we can reposition single digits easily).

[2016-11-23 06:48] jonathanolson commented on #231
Updated in master, dev deploy available (for interviews) at http://www.colorado.edu/physics/phet/dev/html/make-a-ten/1.0.0-dev.11/make-a-ten_en.html.

[2016-11-30 21:23] amanda-phet commented on #247
It looks good to me, and I didn't notice anything strange during interviews last week.

[2016-11-30 21:23] #247 closed

[2016-12-05 19:06] amanda-phet opened #252 "Touch areas for papers (again)"
Please change the touch areas for the "pull apart" region and "move" region so that "pull apart" is the top 45% of the paper and "move" is the bottom 55% of the paper.

[2016-12-05 19:31] amanda-phet opened #253 "Make number readouts black"
On all three screens, there is a number readout that is currently a shade of blue.

<img width="135" alt="screen shot 2016-12-05 at 12 29 48 pm" src="https://cloud.githubusercontent.com/assets/7852916/20899202/b3b19206-bae6-11e6-8857-c2d4e6924ab8.png">
<img width="231" alt="screen shot 2016-12-05 at 12 30 00 pm" src="https://cloud.githubusercontent.com/assets/7852916/20899211/bb19218a-bae6-11e6-86

[2016-12-05 19:40] amanda-phet commented on #231
Decision in 12/1/16 meeting: adjust arrow cues once again. There will only be ONE cue (pull apart). Behind it should be a semi-transparent rectangle covering the number up to the top of the paper. This cue will still be persistent, so if it jumps from a 10 to 100 the size of the rectangle will need to be adjusted accordingly.

<img width="312" alt="screen shot 2016-12-05 at 12 34 58 pm" src="https

[2016-12-05 19:57] amanda-phet opened #254 "Add a reward after user completes 10 challenges"
Based on interviews and discussions with a collaborator, we would like to add a reward on the game screen that functions like this: After completing 10 challenges (on any level), the screen shows confetti and a dialog pops up with two options: continue playing the current level, or go back to the level selection.

<img width="681" alt="screen shot 2016-12-05 at 12 53 23 pm" src="https://cloud.gith

[2016-12-05 20:00] amanda-phet opened #255 "Add "swipe" to game screen"
When the user clicks on a level, I think it would be nice if they see the first challenge enter from the right side (so the screen swipes left).
<img width="120" alt="screen shot 2016-12-05 at 12 59 17 pm" src="https://cloud.githubusercontent.com/assets/7852916/20900217/b6ae94f0-baea-11e6-8805-96b0ae2dd9e9.png">

Successive challenges would not show any swiping, however.

When they click the back

[2016-12-05 20:27] jonathanolson commented on #252
Change made in master.

[2016-12-05 21:37] jonathanolson commented on #231
Added to master (the highlighted area covers the exact bounds used by the mouse, and it's slightly larger).

Let me know if that looks good, or needs any other changes.

[2016-12-05 21:39] jonathanolson commented on #253
Changed in master, let me know if I should make other changes, or wait on updated screen icon images.

[2016-12-05 21:43] jonathanolson commented on #255
Should the top status bar also animate into place, or should it appear at the start or end of animation?

Additionally, I'll plan to make it so things animating on the "pick a level" screen can't be clicked while animating; allowing clicking things while animating would make the logic quite complicated.

[2016-12-05 21:58] jonathanolson commented on #254
Is this a modal pop-up (i.e. can the user click on the Next button, status bar back button, or anything behind)?

If so, do you want the usual hint that there is a modal dialog (generally a semi-transparent layer in front of everything else but behind the dialog)? It would presumably cover anything that can't be interacted with (so not covering the navigation bar below, assuming that is left as an

[2016-12-05 22:52] jonathanolson commented on #254
Also, can you clarify:

Is that like the rewards in other sims? We have a dedicated RewardNode where you give it things to fall from the top of the screen.

If not, can you clarify what the appearance should be like? I can also give it a go if you want.

[2016-12-06 16:51] amanda-phet commented on #254
I think it should be modal. Does that seem appropriate to you? I was basing it on the pop-up in Arithmetic, but that one does not have the semi-transparent layer. Let's make it modal, and add the semi-transparent layer to cue this. Clicking outside dismisses the dialog and allows the user to continue playing that level.

Yes, I couldn't remember which sim had this, but it had things like stars and

[2016-12-06 16:53] amanda-phet commented on #255
What do you think makes more sense or looks better? I'm having a hard time picturing it appearing after the animation. I was picturing the entire window that you see on a game level as the "screen" that is swiping.

[2016-12-06 17:02] amanda-phet commented on #231
I really like that the highlighted area is the mouse region. I know that some in the design meeting didn't like that the rectangle went through the middle of the digits, but I think the cue has more impact this way. I like the way it switches between numbers, and especially like that I see it when I build a 2.

Unless anyone has objections to this rectangle size, I'd like to use this in the next r

[2016-12-06 17:03] amanda-phet commented on #252
I will keep this assigned until I do interviews.

[2016-12-06 17:17] ariel-phet commented on #231
@bethstade just as a note, if you VPN to campus you can always look on phettest

[2016-12-06 18:29] jonathanolson commented on #255
I'll probably have the status bar animate by default, and if that's weird we can try it without movement.

[2016-12-06 18:32] jonathanolson commented on #254
Modal with a semi-transparent background sounds great to me, and I'll experiment with the RewardNode (presumably falling paper numbers, smileys, etc.). Thanks!

[2016-12-06 18:44] amanda-phet commented on #255
That sounds good to me, and what I would expect.

Thanks!

[2016-12-07 18:05] jonathanolson commented on #255
Added in master, let me know how it looks.

[2016-12-07 18:37] amanda-phet commented on #255
Perfect. That's exactly how I pictured it looking.

[2016-12-07 18:37] #255 closed

[2016-12-07 19:34] jonathanolson commented on #254
Did initial implementation, let me know about any changes (it's in master).

The stroke on the star is thicker than in the mock-up. If that's a problem, I can generalize the common code to allow different stroke thicknesses (shouldn't be hard, let me know).

[2016-12-07 20:16] amanda-phet commented on #254
Looks great to me!

I'd like to see what other team members think as well, since we didn't spend a lot of time on the design. @bethstade @ariel-phet

[2016-12-07 20:28] amanda-phet commented on #250
Added.

[2016-12-07 20:28] #250 closed

[2016-12-07 21:52] bethstade commented on #254
omg that is so cute!!!
Great preview for raining tens.

----- Original Message -----From: Amanda McGarry <notifications@github.com>To: phetsims/make-a-ten <make-a-ten@noreply.github.com>Cc: bethstade <stadee@colorado.edu>, Mention <mention@noreply.github.com>Sent: Wed, 07 Dec 2016 20:16:26 -0000 (UTC)Subject: Re: [phetsims/make-a-ten] Add a reward after user completes 10 challenges (#254)

Looks g

[2016-12-07 21:56] bethstade commented on #255
yes.  looks good.

----- Original Message -----From: Amanda McGarry <notifications@github.com>To: phetsims/make-a-ten <make-a-ten@noreply.github.com>Sent: Wed, 07 Dec 2016 18:37:24 -0000 (UTC)Subject: Re: [phetsims/make-a-ten] Add "swipe" to game screen (#255)

Perfect. That's exactly how I pictured it looking.
&mdash;You are receiving this because you are subscribed to this thread.Reply to this e

[2016-12-07 21:58] ariel-phet commented on #254
@amanda-phet will look....reminder please always assign me to issues for a response :)

[2016-12-07 21:58] bethstade commented on #231
Thanks for the VPN reminder -
Yes, good impact with the shading.
The single cue looks good and simple too.
It would be interesting to see how adults react to this cue too.

[2016-12-07 23:06] ariel-phet commented on #254
@amanda-phet looks good to me

[2016-12-08 18:58] jonathanolson opened #256 "Improve RewardNode"
Mainly performance, should tackle before much else.

See https://github.com/phetsims/vegas/issues/50.

[2017-01-03 20:32] amanda-phet opened #257 "Adjust threshold for number going off screen"
In interviews, students would "lose" a 1 off to the sides of the screen, and in particular on an iPad this was frustrating. When it went to the left side, they would try to pull it back and ended up swiping "back" in the browser.

I recommend that we change the threshold so that paper numbers can not go beyond the right and left edges of the viewport *at all*. We currently have it set so that 50%

[2017-01-03 21:51] amanda-phet commented on #254
This worked really well in interviews. One student intentionally chose to keep going because she was feeling successful on that level, and another preferred to go back and master each level. I think this helped both students make a choice that worked for them.

[2017-01-03 21:51] #254 closed

[2017-01-03 21:52] amanda-phet commented on #253
All students in the second round of interviews attended to the total when interacting on the explore screen, so I think this is working well.

[2017-01-03 21:52] #253 closed

[2017-01-03 21:52] amanda-phet opened #258 "Change screen icons to reflect black text"
https://github.com/phetsims/make-a-ten/issues/253

[2017-01-03 21:54] amanda-phet commented on #252
These worked very well in interviews.

At the end of the interviews I asked students how to split apart a number vs. move it and they did not realize there were two touch areas because they had all used two fingers to literally pull apart a number. However, I did not see nearly as much frustration when trying to move numbers, and all students found a way to pull apart numbers when they wanted to (

[2017-01-03 21:54] #252 closed

[2017-01-03 21:57] amanda-phet commented on #231
@bethstade do you want to see how adults/teachers react to the cue?

I didn't see any issues in interviews. I think students are better at "ignoring" this sort of thing, but all students figured out how to split apart numbers so I think the single cue is doing its job.

[2017-01-03 22:17] bethstade commented on #257
I do like "hiding" the numbers off-screen, but I can see the problem with the iPad, so your solution seems correct.

[2017-01-03 22:18] bethstade commented on #252
great!

[2017-01-03 22:18] amanda-phet commented on #245
I can see why this might be useful, but I worry about too much repelling. In interviews, if students tried to combine numbers that were not allowed to combine (such as 29+29) and they repelled, it forced them to think about that. If it's happening too much, that feedback might not be as meaningful.

[2017-01-03 22:18] #245 closed

[2017-01-03 22:19] amanda-phet commented on #257
Thanks for your input! Let's move forward with this change, then.

[2017-01-03 22:20] bethstade commented on #231
If it working for the students I think we have it. Sounds like it is working the way we wanted it.  I don;t need to see how adults react.

[2017-01-03 22:21] amanda-phet commented on #231
Thanks @bethstade !

[2017-01-03 22:21] #231 closed

[2017-01-05 06:30] jonathanolson commented on #257
Changes made in master, let me know how it looks (or if a dev version is needed).

[2017-01-05 18:45] phet-steele opened #259 "Adding screen's Reset All button does nothing"
Seen on Win 10 Chrome, for phetsims/tasks/issues/762.

[2017-01-05 22:02] amanda-phet opened #260 "Adjust region for overlapping numbers to combine"
In an impromptu meeting we discussed a new boundary for when overlapping numbers should combine. The rule should be: if the center of the top number is within an ellipse around the bottom number, they will combine. (The actual ellipse may need some tweaking that @jonathanolson can do in the code.)

![screen shot 2017-01-05 at 3 00 55 pm](https://cloud.githubusercontent.com/assets/7852916/21699189/

[2017-01-05 22:06] kathy-phet commented on #260
Agreed. Thanks.

[2017-01-05 22:26] kathy-phet commented on #260
@jonathanolson - Can you also let me know when a new dev when this is up on this? I want to share it with a teacher who will be taking it for a test drive in her class.

[2017-01-05 23:23] EthanWJohnson commented on #259
Doesn't look like it's ever done anything--it isn't usable in all versions since dev.8, the last version I can access. Not clickable, no highlight overlay.

[2017-01-06 02:41] jonathanolson commented on #259
Should be fixed in master.

[2017-01-06 03:25] #259 closed

[2017-01-06 03:29] jonathanolson commented on #260
Applied in master (dev version http://www.colorado.edu/physics/phet/dev/html/make-a-ten/1.0.0-dev.14/make-a-ten_en.html, let me know if another is needed if things are tweaked).

An ellipse height of ~70% of the paper number seemed to work well (technically 1/sqrt(2)), but this can be easily adjusted.

[2017-01-06 05:01] kathy-phet commented on #260
@jonathanolson - Thanks! I like the way this behaves in terms of combining distance. I also took some time to digest the algorithm for which number jumps and which stays put, and I have a suggestion for that.

Right now it seems like it behaves according to the following rules:
- if one number is numerically bigger than the other number, the bigger one stays put and the smaller one jumps to its po

[2017-01-06 19:57] amanda-phet commented on #257
Looks good to me, thank you.

[2017-01-06 19:57] #257 closed

[2017-01-06 20:30] amanda-phet commented on #260
Now that we have a much larger region that allows two number to combine, I agree that some tweaking is a good idea. It was more subtle before because the numbers were overlapping so much, but now it is more obvious when a number jumps.

In your first suggestion, I am interpreting what you are saying to mean, the one that is *on top* (which is also the one your cursor is on), is the one that jumps.

[2017-01-06 20:48] amanda-phet commented on #260
Discussed with @kathy-phet and there is a good reason for the two suggestions. Let's move forward with both:

* if the place value of the numbers that are overlapped is the same (e.g. both 3 places), then the one that your mouse is on is the one that jumps (e.g. it behaves as if it is adding itself to the stationary number).
* if the two numbers have different place value lengths, the larger one s

[2017-01-06 20:52] kathy-phet commented on #260
@jonathanolson - Please let us know if this is a difficult code change, or not. Thanks.

[2017-01-07 02:39] jonathanolson commented on #260
It shouldn't be difficult, I'll implement the changes.

[2017-01-10 06:51] jonathanolson commented on #260
Done (sorry about the delay).

Let me know if that behaves as expected, and whether I should create a dev version for testing.

[2017-01-10 06:54] kathy-phet commented on #260
should i try it in phettest then?

[2017-01-10 07:01] jonathanolson commented on #260
That would work. I'll publish a dev version to make it easy though (in case it is also used  for other testing).

[2017-01-10 07:01] kathy-phet commented on #260
I ran it on phetest -- works great! Thanks! Yes, I would say make a new dev link and lets ask Steele to run it through all the testing.

[2017-01-10 07:02] kathy-phet commented on #260
Can you update the testing issue, with the new dev link then too?

[2017-01-10 07:02] jonathanolson commented on #260
Will do (http://www.colorado.edu/physics/phet/dev/html/make-a-ten/1.0.0-dev.15/make-a-ten_en.html is the new link).

[2017-01-10 07:03] jonathanolson commented on #260
Updated the testing issue.

[2017-01-10 07:07] kathy-phet commented on #260
Thanks!

[2017-01-10 16:23] amanda-phet commented on #260
Looking good to me.

[2017-01-10 16:23] #260 closed

[2017-01-11 18:29] phet-steele opened #261 "Numbers can cross bounds when combined at the screen's edge"
@jonathanolson this is a super picky problem. When single digits are combined into a double digit number, or double into triple, etc..., this new number grows towards the left. This is generally not an issue unless numbers are formed along the left side of the screen. The new number gets "pushed" out of the screen bounds. Any interaction with the number does fix the issue (the number sort of jumps

[2017-01-11 19:12] jonathanolson commented on #261
Pushed a fix, can you test master to confirm?

[2017-01-11 19:19] phet-steele opened #262 "Hint on the first screen can be absent momentarily"
The split hint is lost if a user places a number with the hint into the tool box. I don't know how imperative it is to have the hint persist until a user actually splits a number (I'd imagine it is important), but on the plus side the hint returns upon the next interaction with a number.

![mat02](https://cloud.githubusercontent.com/assets/5863899/21862780/e4d73b6e-d7f7-11e6-8503-b292475b50df.gif)

[2017-01-11 19:23] jonathanolson commented on #262
@amanda-phet, when the cue is removed because the number went away, should it randomly pick another number in play to be on, or should we keep the current behavior?

[2017-01-11 19:24] amanda-phet commented on #262
Hm, I'd say have the hint jump to the 10 sitting out, but if there are multiple numbers in the play area then there wouldn't be an obvious number for it to jump to. The current behavior seems ok to me...

[2017-01-11 19:27] bethstade commented on #262
I agree with Amanda.

----- Original Message -----From: Amanda McGarry <notifications@github.com>To: phetsims/make-a-ten <make-a-ten@noreply.github.com>Cc: Subscribed <subscribed@noreply.github.com>Sent: Wed, 11 Jan 2017 19:24:01 -0000 (UTC)Subject: Re: [phetsims/make-a-ten] Hint on the first screen can be absent momentarily (#262)

Hm, I'd say have the hint jump to the 10 sitting out, but if ther

[2017-01-11 19:28] jonathanolson commented on #262
So if there is an unambiguous number for it to jump to, it should? Otherwise have no cue for a bit?

[2017-01-11 19:29] amanda-phet commented on #262
@jonathanolson I think this is fine. As @phet-steele pointed out, it is only absent momentarily.

[2017-01-11 19:29] amanda-phet commented on #262
I seem to be replying at the same time as you @jonathanolson sorry.

Let's keep the current behavior.

[2017-01-11 20:39] phet-steele commented on #261
:+1:, thanks.

[2017-01-11 20:39] #261 closed

[2017-01-11 22:01] jonathanolson commented on #262
Closing, thanks for mentioning it @phet-steele.

[2017-01-11 22:01] #262 closed

[2017-01-11 22:20] phet-steele opened #263 "[iOS] ?stringTest=double fails in the level headers"
Only on certain levels with long enough titles, and when the number of stars obtained enters double digits. The level text and number of stars begin to overlap:

![img_0063](https://cloud.githubusercontent.com/assets/5863899/21868698/3f72e208-d811-11e6-8afb-f7d403d70c08.PNG)

Seen on iOS 10.2, for phetsims/tasks/issues/762.

[2017-01-11 22:28] phet-steele commented on #263
I should note, desktop is fine.

[2017-01-11 22:29] jonathanolson commented on #263
I guess technically the user could solve any finite number of challenges, but maybe we say if they win a level more than 999 times we could either accept overlapping or the label could change size to accommodate?

Since JS toString() starts using scientific notation at approximately this many digits (```1.234567891234568e+21```), we could leave that much space?

[2017-01-11 22:29] jonathanolson commented on #263
@amanda-phet, thoughts on providing enough space for 3 digits of solves (up to 999 solves), and accepting overlap after 1000 solves of a specific level?

[2017-01-11 22:41] amanda-phet commented on #263
I'm fine with overlapping or changing size after 999 stars. I'm not sure which is preferable- probably changing size to accommodate?

I don't understand what you mean about scientific notation- are you saying that once a number reaches 20 (?) digits it will start to be written in scientific notation, so we'd want space for a number to reach that many digits? Is it worth accommodating that situatio

[2017-01-11 22:42] jonathanolson commented on #263
It's easier to just allow overlap, but I can check how difficult it is to resize to prevent overlap after a certain number of digits.

[2017-01-11 22:50] jonathanolson commented on #263
Yes, it would reach scientific notation because of the way things are added there.

I'm not worried about people reaching that.

[2017-01-11 22:51] amanda-phet commented on #263
Thanks for clarifying.

Let's allow overlap after 1000+ correct challenges.

[2017-01-12 01:39] jonathanolson commented on #263
@phet-steele, can you check my fix?

It was simplest to just fit the title in available space. In English, this is never even a problem.

[2017-01-12 17:35] phet-steele commented on #263
🐨 Looks good, but I don't want to spend the time getting to 1000 stars to see what that looks like.....

[2017-01-12 17:35] #263 closed

[2017-01-12 17:45] phet-steele opened #264 "Reward modal doesn't scale its strings"
@jonathanolson, the reward modal does not have a max width on its bounds (probably). It gets wider when strings get longer. Not a big deal since `?stingTest=double` passes:

double:
<img width="1920" alt="screen shot 2017-01-11 at 2 28 28 pm" src="https://cloud.githubusercontent.com/assets/5863899/21901116/b63de89a-d8b3-11e6-949f-ad7c606af874.png">

xss (really long):
<img width="1920" alt="screen

[2017-01-12 17:59] jonathanolson commented on #264
Fixed in master, can you check?

[2017-01-12 18:07] phet-steele commented on #264
🐩

[2017-01-12 18:07] #264 closed

[2017-01-14 00:43] jonathanolson commented on #256
Referenced issue closed, closing here.

[2017-01-14 00:43] #256 closed

[2017-01-16 22:08] jonathanolson commented on #258
Exporting them would be great, I still have a lot of uncertainty about the exporting process. They're checked in as images:

- make-a-ten/images/adding-home-screen.png
- make-a-ten/images/adding-nav-bar.png
- make-a-ten/images/explore-home-screen.png

[2017-01-16 22:20] amanda-phet commented on #258
Thanks, I see those now. I replaced those image files in github.

[2017-01-16 22:21] amanda-phet commented on #258
@jonathanolson is there anything else I need to do?

[2017-01-17 19:10] jonathanolson commented on #258
Nope, thanks!

[2017-01-17 19:10] #258 closed

[2017-01-19 20:27] amanda-phet commented on #16
I like it.

[2017-01-19 20:27] #16 closed

[2017-02-01 17:40] phet-steele opened #265 "Should the keypad be a modal?"
@jonathanolson @amanda-phet as it stands, when I click on the edit buttons to bring up the keypad, the only way "out" is to either submit a number or press Reset All. Clicking elsewhere in the sim, or clicking the edit button again, does not dismiss the keypad. This is unfortunate because both of those options, submit and/or Reset All, will wipe any progress I've made on this screen. This is espec

[2017-02-01 17:44] phet-steele opened #266 ""Paper" & "total" layering is not the same across screens"
@amanda-phet the layering of the paper on the first screen puts it above the total:
<img width="337" alt="screen shot 2017-02-01 at 10 43 18 am" src="https://cloud.githubusercontent.com/assets/5863899/22518819/4ca45406-e86b-11e6-8a6d-ae550e700b11.png">

The layering on the 2nd and 3rd screens puts the paper under the total:
<img width="417" alt="screen shot 2017-02-01 at 10 43 27 am" src="https://

[2017-02-01 18:18] amanda-phet commented on #266
Hm, I agree that these should be consistent, but I recall @bethstade having reasons for them layering differently. I would lean toward laying the paper over the text in all screens (including the game screen).

[2017-02-01 18:22] amanda-phet commented on #265
If you hit the edit button on accident, doesn't the current number show up in the readout? So, you could in theory click "submit" and nothing will have changed, unless you pressed a number or pressed the backspace.

Perhaps we could add an 'x' to click on to close the dialog? I hesitate to dim the background in this sim because we want to clearly be able to see the problem and number pieces.

[2017-02-01 18:26] phet-steele commented on #265
Clicking submit will reset the numbers back to their default state. If there was any splitting/combining prior to clicking submit, that would be lost.

![mat03](https://cloud.githubusercontent.com/assets/5863899/22520351/33b409b8-e871-11e6-94b6-d29e2c5e12f1.gif)

[2017-02-01 18:31] phet-steele commented on #265
@amanda-phet I don't see why this is a problem. The numbers nor the papers dynamically update while you are inputting a number. To me this means there is nothing to "see" as the sim is remaining static. The focus becomes the keypad and not the rest of the sim. Once you submit, the sim would no longer be dimmed and attention would be brought back to the equation and number pieces.

[2017-02-01 19:14] phet-steele opened #267 "Equals sign on Adding screen does not reset"
@jonathanolson, normally at startup the equals sign is not there, nor does it appear until both terms in the equation have been submitted:
<img width="386" alt="screen shot 2017-02-01 at 12 12 29 pm" src="https://cloud.githubusercontent.com/assets/5863899/22522135/c32bb022-e877-11e6-8372-05bdda1f656a.png">
<img width="462" alt="screen shot 2017-02-01 at 12 12 39 pm" src="https://cloud.githubuserco

[2017-02-01 19:26] phet-steele opened #268 "Edit button alignment on Adding screen"
The alignment of edit buttons in the adding screen equation looks off. My reference is both the design doc:
<img width="585" alt="screen shot 2017-02-01 at 12 15 34 pm" src="https://cloud.githubusercontent.com/assets/5863899/22522384/a2bf2c32-e878-11e6-8e05-d8198fbdc1aa.png">
and the navbar icon:
<img width="409" alt="screen shot 2017-02-01 at 12 19 19 pm" src="https://cloud.githubusercontent.com/

[2017-02-01 19:33] bethstade commented on #266
I agree. Looks like paper should go on top.
Just a reminder, I am out to the country and email will be inconsistent until after Feb. 14th.

----- Original Message -----From: Amanda McGarry <notifications@github.com>To: phetsims/make-a-ten <make-a-ten@noreply.github.com>Cc: bethstade <stadee@colorado.edu>, Mention <mention@noreply.github.com>Sent: Wed, 01 Feb 2017 18:18:18 -0000 (UTC)Subject: Re: [

[2017-02-01 19:35] phet-steele commented on #265
I found two notes in the design doc:

Granted I don't know if these decisions were ever reverted, but I couldn't find evidence to say otherwise. Maybe the middle ground is to NOT have the sim be grayed, but still allow clicks outside of the keypad that close it? I'm not huge fan of this idea since it would break consistency with Unit Rates.

[2017-02-01 19:44] amanda-phet commented on #265
I thought I remembered that being the specification! Thanks for looking, @phet-steele . I looked closer at Unit Rates and the dimming is not too bad, so I'd say we should go that route.

@jonathanolson can you comment on the current implementation of the keypad? Is it a special non-modal dialog?

[2017-02-01 19:46] amanda-phet commented on #266
Let's change the logic then, so that paper is layered above text. Thanks for commenting from London, @bethstade !

[2017-02-01 20:59] phet-steele opened #269 "Numbers can be removed after animating towards the tool box"
@amanda-phet if you bounce two numbers that can't be added and one of the numbers winds up on top of the tool box, that number will be removed from the play area:

![mat04](https://cloud.githubusercontent.com/assets/5863899/22525739/c2f1b33c-e885-11e6-8b1a-2d838f59ea43.gif)

This interaction makes sense, but it also seems very unforgiving. Thoughts @amanda-phet? I think it would be okay to leave s

[2017-02-01 21:35] phet-steele opened #270 "Add logic to prevent duplicate, back-to-back questions in the game"
This probably isn't a big deal since it seems to be rare. However, with that being said, it happens quite often in level 2 since one of the numbers is fixed and increases the chance of duplicates. You probably didn't need a video to know what I'm talking about, but here it is anyway 😄 :
![mat05](https://cloud.githubusercontent.com/assets/5863899/22527203/7ff495a8-e88b-11e6-8bfe-8e52e181b853.gif)

[2017-02-01 21:57] phet-steele opened #271 "Reset All button slightly intrudes into a level screen"
See that small little area where the touch dilation for the Reset All button extends into the level screen? You better believe you can press the button 😄
<img width="1920" alt="screen shot 2017-02-01 at 2 52 44 pm" src="https://cloud.githubusercontent.com/assets/5863899/22527965/6be21830-e88e-11e6-8498-c93de4f53582.png">

@jonathanolson maybe move the button over a few pixels, or reduce the dilati

[2017-02-01 22:01] amanda-phet commented on #270
Thanks for pointing this out, but I'm not too worried about this scenario. The point of this level is to figure out how to take 1 off a number and add it to 9 to get 10. These levels are intended to isolate specific skills, and if someone has mastered the skill then they don't have to play the level (since we can't "complete" levels in this sim).

[2017-02-01 22:01] #270 closed

[2017-02-01 22:35] phet-steele commented on #265
During a quick Skype call with @amanda-phet, we remembered that there was a decision that number pieces should still be movable when the keypad is enabled (this is the current behaviour). This would no longer be the case if we used a barrier rectangle. In order to preserve the current behaviour while also making the keypad more easily dismissible, my suggestion was:

- The sim will not gray out wh

[2017-02-02 02:28] jonathanolson commented on #268
@amanda-phet, does the described alignment (vertically with the closer edges of the numbers) sound good?

Also, should the keypad be centered vertically over the plus (as in the mock-up)?

[2017-02-02 02:34] jonathanolson commented on #266
@amanda-phet, how should it layer with the other things (edit buttons and keypad on the adding screen, "next" button on the game)?

[2017-02-02 02:36] jonathanolson commented on #271
Good find! Should be fixed in master.

[2017-02-02 02:47] jonathanolson commented on #267
Should be fixed in master.

[2017-02-02 02:50] jonathanolson commented on #265
@phet-steele, that sounds fine to me. @amanda-phet thoughts?

[2017-02-02 19:28] phet-steele commented on #267
Looks good, thanks @jonathanolson.

[2017-02-02 19:28] #267 closed

[2017-02-02 20:45] amanda-phet commented on #265
The sim will not gray out when the keypad is enabled
    Interactions (click/drag/tear/combine) on a number piece will not dismiss the keypad
    Clicks anywhere in empty play space will dismiss the keypad

This sounds find, but I'll discuss with @jbphet if this is compatible with the new keypad.

[2017-02-02 20:49] amanda-phet commented on #266
Keypad should be on top (always).
Numbers should be on top of edit, reset all, and next buttons.

[2017-02-02 21:53] jonathanolson commented on #266
Made the requested changes. Also the numbers were over "Hide Total" in the first screen (which seemed inconsistent), so I moved that behind the numbers also.

Can you review?

[2017-02-03 16:10] jbphet commented on #265
There shouldn't be any issues with making the new keypad model - it can be done the same way it was in Unit Rates with the older keypad.

[2017-02-03 16:33] amanda-phet commented on #265
@jbphet it's not quite a modal keypad.. it's sort of a hybrid... users can interact with the sim by dragging number papers but a click in empty space will dismiss the keypad. I don't think this is the best approach right now given our discussions about dialogs. If the new dialog is going to have an "x" to close it, that might be a better approach to take in this sim. Similar to what was done in LS

[2017-02-03 16:36] amanda-phet commented on #266
Looks good on the first two screens, but to be consistent the paper numbers should be layered over the text numbers and next button on the game screen.

[2017-02-03 16:44] amanda-phet commented on #268
Just to clarify, what @phet-steele is describing is this (1):
![screen shot 2017-02-03 at 9 43 28 am](https://cloud.githubusercontent.com/assets/7852916/22599794/431bed64-e9f5-11e6-9fcd-d629705a3faa.png)

but the navbar icon is aligned like this (2):
![screen shot 2017-02-03 at 9 39 13 am](https://cloud.githubusercontent.com/assets/7852916/22599650/dcfe7de4-e9f4-11e6-93b0-13eef2f54e62.png)

Let's

[2017-02-03 17:47] phet-steele commented on #271
This is fixed, thanks @jonathanolson. It's worth mentioning that the problem still exists at very wide aspect ratios. Seeing as most of our touch screen users will be on an iPad with a fixed aspect ratio, this is unlikely to ever happen. Closing.

[2017-02-03 17:47] #271 closed

[2017-02-03 18:02] jonathanolson commented on #268
Understood.

Question still stands, mockup had the keypad centered with the plus.

[2017-02-03 18:05] jonathanolson commented on #266
Sorry about that, definitely forgot about the formula on the game screen. Should be fixed.

[2017-02-03 18:48] amanda-phet commented on #268
Thanks, I meant to address that as well. I think it's fine where it is because we want it more left so that it is less obtrusive in the play space.

[2017-02-03 19:09] amanda-phet opened #272 "Change behavior of number readouts on Adding screen"
Per 2/2/17 discussion:

On startup there should be a dashed outline for each number that has not yet been entered. ANY time this number is empty we see a dashed outline in place of a number (such as when a user deletes a previously entered number).
![screen shot 2017-02-03 at 12 02 50 pm](https://cloud.githubusercontent.com/assets/7852916/22604517/32cbafd0-ea09-11e6-9362-3bb37c3d9d9a.png)

When ac

[2017-02-03 19:11] amanda-phet commented on #269
I agree that it would be nice to leave the number over the toolbox, but the repelling is tricky in a number of scenarios and I have accepted some weirdness that comes with it. In interviews, students did not find this to be an issue, so I'm inclined to leave it as-is.

[2017-02-03 19:11] #269 closed

[2017-02-03 19:12] amanda-phet commented on #266
It is working for the formula, but still not the next button.

![screen shot 2017-02-03 at 12 11 57 pm](https://cloud.githubusercontent.com/assets/7852916/22604696/01596b44-ea0a-11e6-9950-571d7ee05890.png)
![screen shot 2017-02-03 at 12 12 03 pm](https://cloud.githubusercontent.com/assets/7852916/22604699/04bb6e4a-ea0a-11e6-9e71-feb596fb071a.png)

I think we decided it would layer over any button

[2017-02-03 20:30] jonathanolson commented on #266
Ok, should be fixed.

[2017-02-03 20:40] amanda-phet commented on #266
Looks great, thanks.

[2017-02-03 20:40] #266 closed

[2017-02-07 19:27] amanda-phet commented on #265
Final decision: let's make the keypad modal with a slightly dimmed background so that a user can dismiss the keypad. I can't recall a compelling reason to keep the number pieces of paper interactive while the keypad is up, but if there is one, then when we have the new common dialog with a close button we can revisit this issue.

[2017-02-14 02:23] jonathanolson commented on #265
Does the dimmed background also go in front of the navbar, or does it not (so the user can switch screens while it is up)?

[2017-02-14 02:56] jonathanolson commented on #268
Implemented, let me know if anything else is needed.

[2017-02-14 03:05] jonathanolson commented on #272
To clarify, what happens when a number has been previously entered (say in the left), and the user goes back to edit it? When they open the (what will be modal) keypad for it, should it:

1. Keep the old number in the readout (like currently), and have a dashed box with white background (so `ANY time this number is empty we see a dashed outline` isn't an "if and only if").
2. Keep the old number i

[2017-02-14 03:11] ariel-phet commented on #265
@jonathanolson I think we always want to leave the navbar able to be interacted with, that would be breaking major convention with our sims otherwise

[2017-02-15 16:17] amanda-phet commented on #265
The dimmed background should not go in front of the navbar. I assumed there was a default behavior for a modal dialog so I apologize for not specifying.

[2017-02-15 16:19] amanda-phet commented on #272
Option 1 seems best so that if a user accidentally clicks the edit button they can dismiss it without repercussions. The number should only be empty (and thus have a dashed outline with no white fill) on startup or if a user deletes a number then dismisses the keypad.

[2017-02-15 16:37] amanda-phet commented on #268
Looks great. Thanks!

[2017-02-15 16:37] #268 closed

[2017-02-16 01:05] jonathanolson commented on #272
Implemented, does that look good?

[2017-02-16 01:34] jonathanolson commented on #265
Totally agree, that's why I asked. Our 'Dialog' type, when modal, is always in front of the navbar.

I looked into this modal dialog behavior, when done in sims, it is custom (not using Dialog) and somewhat duplicated (different colors, opacities, some trigger close on 'mouse/touch down', others on 'mouse/touch up'). Having different "glass pane" locations (some for thinks like the About/Options d

[2017-02-16 21:55] amanda-phet commented on #272
It does look good. The one unfortunate thing is that the dimmed background makes the white background less apparent, but it seems fine. The behavior that I specified above is working perfectly.

[2017-02-16 21:55] #272 closed

[2017-02-16 21:57] amanda-phet commented on #265
Seems to be working great!

If it's possible to have a "glass pane" in this sim, I would put one over the box that displays the number being edited. If it's not possible, let's add that to the general dialog discussion.

Can you let me know if the glass window is a possibility?

[2017-02-19 19:41] jonathanolson commented on #265
I was referring to a technical term, which implies a fully-transparent layer above everything else (http://docs.oracle.com/javase/tutorial/uiswing/components/rootpane.html), such that we'd have the following (in order from back to front):

1. Active screen's content (e.g. paper numbers)
2. Transparent layer (glass pane) for the screen itself, where dialogs are placed that do NOT block the navigati

[2017-02-20 16:59] amanda-phet commented on #265
Ah, thank you for clarifying! I didn't realize it was a technical term since it was in quotes :) Yes I was thinking it meant a a cutout in the dimmed layer.

I think the current implementation is working well so let's go ahead and close this issue.

[2017-02-20 16:59] #265 closed

[2017-02-27 18:35] phet-steele opened #273 "Papers can have a position that is NaN and therefore cannot be moved"
The particular case where I've seen this is on the second screen, but it may be possible on other screens depending on how this issue is caused. It's hard to tell in this video since it does not show the location of my mouse, but the beginning has me unsuccessfully trying to move both paper pieces around. When trying to tear pieces off, they jump to the top left of the screen and cannot be moved.

[2017-02-27 18:46] jonathanolson commented on #273
All paper number positions and destinations were NaN on that screen.

Most likely cause is if a zero-width/height window size was sent and the "bounds constraint" application NaN'ed the destinations. Possibly other causes, but the "bounds constraint" is the most likely.

To debug this, I would need a reproduction (ideally with the dev tools open) that identifies when the NaN appeared. Assertions a

[2017-02-27 19:16] phet-steele opened #274 "Finalize QA credits"
@jonathanolson, for #1 please add the following to QA credits:

Ben Roberts
Bryce Griebenow

[2017-02-27 19:24] jonathanolson commented on #274
Done.

[2017-02-27 19:24] #274 closed

[2017-02-28 19:03] phet-steele commented on #273
Error reproduced in master, no procedure yet (also, may not even be for this issue. pending investigation):

[code]

[2017-03-01 19:13] phet-steele commented on #273
@jonathanolson and I figured it out, it's a joist issue. The sim was given a negative dt (somehow?). This, as you can imagine, broke a lot of things.  FF, for some reason, had in my case a dt of -0.868, so less than a second. **You can manually reproduce by setting your system clock back in time.** Doing this manual reproduction does make the problem replicable across browsers, not just FF.

@jona

[2017-03-01 20:00] amanda-phet opened #275 "Edit credits"
Right now MLL is listed in the credits, but I don't recall them working on this sim. MLL should be removed and replaced with Ashraf.

Sorry for not noticing this earlier!

[2017-03-01 21:21] jonathanolson commented on #275
Fixed in master (let me know if it looks correct). I've also applied the fix to the maintenance-release branch, so this issue can be closed if it looks fine (will track maintenance release in https://github.com/phetsims/make-a-ten/issues/273).

[2017-03-01 21:22] jonathanolson commented on #273
Fix applied in master and in the maintenance-release branch (joist's make-a-ten-1.0 branch).

@ariel-phet, once https://github.com/phetsims/make-a-ten/issues/275 is confirmed fixed also, should I create 1.0.1-rc.1 for testing both (moving towards 1.0.1 maintenance release)?

[2017-03-01 21:27] jonathanolson commented on #273
Note to self: https://github.com/phetsims/tasks/issues/791 is a similar RC testing task.

[2017-03-01 21:32] phet-steele commented on #275
@jonathanolson I see the credits fix on 1.0, not master. That being said, please alphabetize QA by last name (Bryce would be second).

[2017-03-02 02:06] jonathanolson commented on #275
Pushed change to master, and alphabetization for both master and 1.0

[2017-03-02 02:37] ariel-phet commented on #273
@jonathanolson yes, would be good to test.

[2017-03-02 02:45] jonathanolson commented on #273
Ok, I'll make an RC and make a similar testing task when https://github.com/phetsims/make-a-ten/issues/275 is confirmed to be as desired.

[2017-03-02 15:42] amanda-phet commented on #275
Looks good in master. Thanks!

[2017-03-03 20:20] jonathanolson commented on #273
RC issue at https://github.com/phetsims/tasks/issues/796 for 1.0.1-rc.1.

[2017-03-06 16:57] phet-steele commented on #273
@jonathanolson looks good on macOS 10.12.3 & Win 10 Chrome. The overnight test in FF also had no problems.

[2017-03-06 16:57] #273 closed

[2017-03-11 02:34] ariel-phet opened #276 "Create sim primer"
This is the final item left on the master checklist #1 - and would probably be good to complete in the near'ish future (certainly before next school year)

[2017-03-11 02:35] ariel-phet commented on #1
Sim primer issue made, closing

[2017-03-11 02:35] #1 closed

[2017-05-30 18:31] ayeemdee opened #277 "[Test issue] Poor performance on Ipad when hitting scare of ten in a level"
1. Pick a level
2. Go till score of 10
3. Delay on Ipad when reward screen comes up

for phetsims/tasks/issues/849

Test device: Lenovo Thinkpad

Operating System: Win 10

Browser: Chrome

Screenshots:

Troubleshooting information (do not edit):
Name: ‪Make a Ten‬
URL: http://www.colorado.edu/physics/phet/dev/html/make-a-ten/1.0.3/make-a-ten_en.html
Version: 1.0.3 2017-04-16 17:34:11 UTC
Features

[2017-05-30 18:34] phet-steele commented on #277
@ayeemdee fixed man, thanks for pointing it out. Can you verify?

[2017-05-30 18:35] ayeemdee commented on #277
@phet-steele Thanks. Fixed closing.

[2017-05-30 18:35] #277 closed

[2017-08-03 16:38] samreid opened #278 "Misuse of DerivedProperty.valueEquals"
MakeATenGameScreenView.js has:

[code]

This creates a new constant Property just for the sake of using valueEquals.  It seems it would be better to use:
[code]

[2017-08-04 17:12] jonathanolson commented on #278
Implemented the change (with array-ification for the DerivedProperty first parameter).

Thanks!

[2017-08-04 17:12] #278 closed

[2018-01-24 18:29] amanda-phet commented on #276
This was published earlier this month. Closing.

[2018-01-24 18:29] #276 closed

[2018-02-03 22:51] pixelzoom opened #279 "migrate game components to vegas"
For Equality Explorer, I've been asked to reuse this game "dialog" from Make A Ten.  It's implemented in `MAKE_A_TEN/game/view/RewardPanel`.  @jonathanolson do you mind if I generalize this and move it to vegas, or would you prefer to do so?

![screenshot_62](https://user-images.githubusercontent.com/3046552/35772361-f1bf4a9a-08f9-11e8-8d80-c673409ae418.png)

[2018-02-03 22:54] pixelzoom commented on #279
Two strings and one image file will also need to move.  @ariel-phet How should we handle moving the string? Should I attempt to move it from make-a-ten to vegas string files (a lot of work), or should we require re-translation the next time that a new release branch is needed for Make A Ten?

[2018-02-03 23:03] pixelzoom commented on #279
Hmmm...  Some other things that Equality Explorer needs to reuse:

(1) Level-selection buttons that show number of stars. Make A Ten is creating its own `LevelButton`, not using vegas `LevelSelectionButton`.

(2) Bar across the top that shows challenge, level, score, etc.  Again, Make A Ten is creating its own components (`GameStatusBar`, `ScoreNode`) instead of using vegas component `ScoreboardBa

[2018-02-03 23:15] pixelzoom commented on #279
I've also discovered that game-home-screen.png and game-reward.png are identical except for dimensions. Why?  This might complicate moving game-reward.png to vegas.

[2018-02-03 23:18] pixelzoom commented on #279
Mentioning @amanda-phet, so that she's aware that there's going to be a significant cost for reusing things from Make A Ten in Equality Explorer.

[2018-02-05 18:17] jonathanolson commented on #279
I'm fine either way, let me know.

Presumably we can only use the larger image, and use the mipmap plugin to prevent aliasing?

@pixelzoom, maybe it would be good to have a call sometime to discuss what should be moved over, and what things are now "common"? Area Model uses a somewhat similar pattern to Make a Ten, and I'd like to factor out any common behavior.

[2018-02-05 19:31] pixelzoom commented on #279
@jonathanolson said:

Hmm.... EqEx's game design is deviating from common-code (vegas) components because the game is “less formal” in many ways, operates differently than earlier games, and therefore has different UI components.  If sounds like Make A Ten and Area Model may have some of the same needs.  Or perhaps game design is evolving and we've found new/better ways of doing things.  All of th

[2018-02-05 23:09] ariel-phet commented on #279
@pixelzoom @jonathanolson we definitely want to have common behavior where possible.

Make-a-ten and EqEx have what I might term "infinite reward" levels. Basically a level where you can keep trying challenges and collecting stars, so they don't stop after a fixed number of challenges. It seems we should have a set of common code for this type of architecture, since it seems that style of game is

[2018-02-06 17:28] pixelzoom commented on #279
I'm going to defer all work on the EqEx "Solve It!" screen (game) until we've addressed the more general issue of what parts of the design and implementation should be reusable.

[2018-02-06 22:00] pixelzoom commented on #279
@ariel-phet said:

Since the scope of this now exceeded "migrate to vegas", I've created a new issue for the design and implementation of game components.  See https://github.com/phetsims/vegas/issues/59.

[2018-02-06 22:01] pixelzoom commented on #279
This issue is on hold pending identification of reusable design in https://github.com/phetsims/vegas/issues/59.

[2018-02-06 23:08] amanda-phet commented on #279
I responded to https://github.com/phetsims/vegas/issues/59. I hope I was able to summarize the similarities between these three games.

[2018-03-21 16:43] amanda-phet commented on #275
Chris noticed that graphic arts are incorrectly attributed here to me. They should list Mariah Hermsmeyer for graphic arts. She create the pieces of paper, and all of the PhET girl artwork on the game screen level selection buttons.

[2018-03-27 17:40] pixelzoom opened #280 "Info button is not localized"
While working on Equality Explorer, @amanda-phet and I discussed adding an "Info" button to the game level-selection screen, ala Make A Ten.   Screenshot below shows what it looks like for Make A Ten (upper-right corner).

Two problems:

(1) The '?' is hardcoded, not translatable. '?' is not universal. For example, the Greek equivalent looks like ";", and in Arabic it's "⸮". Reference: https://www

[2018-03-27 18:05] pixelzoom commented on #280
This sim should use SCENERY_PHET/buttons/InfoButton when it has been created.
See https://github.com/phetsims/scenery-phet/issues/363

[2018-03-27 18:57] pixelzoom commented on #280
SCENERY_PHET/buttons/InfoButton now exists, you can use it at any time.

[2018-03-30 17:48] pixelzoom commented on #275
Reopening.  This one is still wrong, and got propagated to vegas:

[code]

According to @amanda-phet, this image was created by Mariah, and Amanda modified it.

Highly recommend to fix this.  Or better yet, delete the PNG and .ai from make-a-ten, and use `VEGAS/phet-girl-juggling-stars.png`.

[2018-04-04 22:26] jonathanolson opened #281 "Use SUN SlidingScreen instead of local "copy""

[2018-04-05 13:39] pixelzoom commented on #279
It's also worth noting that `MAKE_A_TEN/RewardPanel` is not a `Dialog`, presumably to avoid having to deal with `Dialog` and its standard `BarrierRectangle` (which would dim the background and be problematic for the reward animation).

[2018-04-10 16:51] Denz1994 opened #282 "Use Sun/SlidingScreen.js if possible."
While reviewing https://github.com/phetsims/area-model-common/issues/99 with @samreid there was a request by @jonathanolson:

During review, we realized make-a-ten is also using a version of slidingScreen.js. If it is possible the SUN component should be used to reduce code duplication.

[2018-04-10 17:14] jonathanolson commented on #282
I opened https://github.com/phetsims/make-a-ten/issues/281 earlier. Should we close one of the issues?

[2018-04-10 19:29] Denz1994 commented on #282
Closing this issue because it is a duplicate.

[2018-04-10 19:29] #282 closed

[2018-04-12 20:27] pixelzoom commented on #279
Do this when https://github.com/phetsims/vegas/issues/66 and https://github.com/phetsims/vegas/issues/59 are closed.

[2018-04-13 16:17] pixelzoom opened #283 "use VEGAS/SlidingScreen"
Why is make-a-ten not using `VEGAS/SlidingScreen` for transitions in the game?  It's used in area-model-common and fractions, and @jonathanolson is the author of all 3 sims.

[2018-04-13 19:56] jonathanolson commented on #283
Because I haven't gotten to it yet, see https://github.com/phetsims/make-a-ten/issues/281. Also, TWIXT/SlidingScreen, right?

[2018-04-13 19:58] pixelzoom commented on #283
Yes, TWIXT/SlidingScreen.

[2018-05-10 21:31] pixelzoom opened #284 "Reward dialog obscures challenge solution"
Make A Ten has this problem: https://github.com/phetsims/equality-explorer/issues/104

Example shown in the screenshot below.  The reward dialog is opened immediately, and the solution is not visible until the dialog is closed.

![screenshot_619](https://user-images.githubusercontent.com/3046552/39895323-0605e532-5467-11e8-83e5-68ad1ce96430.png)

[2018-05-17 01:45] jonathanolson commented on #279
Migrated to vegas components, closing.

[2018-05-17 01:45] #279 closed

[2018-05-17 01:46] jonathanolson commented on #283
Using TransitionNode (the improved version), closing.

[2018-05-17 01:46] #283 closed

[2018-05-17 01:46] jonathanolson commented on #281
Using TransitionNode instead.

[2018-05-17 01:46] #281 closed

[2018-05-17 01:51] jonathanolson commented on #280
Using InfoButton, seems a bit big. Is that expected?:

<img width="1147" alt="screen shot 2018-05-16 at 7 50 33 pm" src="https://user-images.githubusercontent.com/480878/40152447-77acfcd6-5942-11e8-9b58-5f52ea8a25b5.png">

[2018-05-17 17:58] amanda-phet commented on #280
I agree it seems large in this context, and larger than what we see in Equality Explorer.

Can you scale it down?

[2018-05-22 06:48] jonathanolson commented on #280
Scaled down. Can you try master?

[2018-05-24 16:58] amanda-phet commented on #280
Looks good to me.

[2018-05-24 17:00] jonathanolson commented on #280
Ok, closing (reopen if I missed something).

[2018-05-24 17:00] #280 closed

[2018-05-29 17:43] pixelzoom opened #285 "transition options are duplicated"
Noted while working on https://github.com/phetsims/equality-explorer/issues/75.

Transition options are duplicated at lines 69 and 77 of MakeATenGameScreenView:

[code]

[2018-09-10 19:30] phet-steele opened #286 "Master version ID is behind latest publication"
`package.json` has a version ID of 1.0.1-dev.1, but 1.0 is already published. This version should probably read 1.1.0-dev.0.

For phetsims/QA/issues/184.

[2018-09-13 00:57] jonathanolson commented on #286
Fixed, thanks for noticing!

[2018-09-13 00:57] #286 closed

[2018-10-03 16:16] KatieWoe opened #287 "CT: Did not find matching Node"
[code]

[2018-10-04 06:07] jonathanolson commented on #287
I messed up a refactoring (PressListener change broke DragListener). Should be fixed now, can you confirm?

[2018-10-04 14:29] KatieWoe commented on #287
Confirmed.

[2018-10-04 14:29] #287 closed

[2019-01-24 00:09] KatieWoe opened #288 "CT running lint-all task"
[code]

[2019-01-24 04:02] pixelzoom commented on #288
Fixed, closing.

[2019-01-24 04:02] #288 closed

[2019-04-08 20:47] pixelzoom opened #289 "remove Tween preload?"
I don't see TWEEN used anywhere in make-a-ten or its dependencies, but I see this preload in package.json:

[code]

Can this preload be removed?

[2019-04-16 16:58] KatieWoe opened #290 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* None seen

Screenshots:
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/56229134-74778080-6036-11e9-885b-aeff187a

[2019-04-16 16:58] #290 closed

[2019-12-12 22:43] mattpen opened #291 "Rename alt screenshot"
`assets/make-a-ten-screenshot-al2.png` should be renamed to `assets/make-a-ten-screenshot-alt2.png`.

@jonathanolson - you're listed as responsible dev for this sim.  Ok if I make this change? It's needed for phetsims/chipper#825

[2019-12-12 22:44] jonathanolson commented on #291
Please go ahead!

[2019-12-12 22:51] #291 closed

[2020-08-31 21:42] jessegreenberg opened #292 "CT: Did not find matching Node"
Possible from multitouch, caught in https://github.com/phetsims/aqua/issues/106. Steps to reproduce:

- Grab and drag a number with one finger.
- Press ResetAllButton with second finger.
- Release first finger from screen.

Assertion is "Assertion failed: Did not find matching Node".

[2020-08-31 21:52] jessegreenberg commented on #292
I suspect that this will be fixed by DragListener of PaperNumberNode needs to be interrupted on simulation reset, but not sure. Assigning to responsible dev.

[2020-10-13 02:16] pixelzoom opened #293 "CT: Cannot read property 'apply' of undefined"
Based on the timing of when this error started occurring, I suspect that it's related to the conversion of ScreenView subtypes to ES6 `class` for https://github.com/phetsims/tasks/issues/1044.

[code]

[2020-10-13 02:20] pixelzoom commented on #293
I fuzzed each screen separately using `?screens`, and the error is occurring in the "Explore" screen (`?screens=1`).

Rolling back `MakeATenExploreScreenView` and `MakeATenCommonView` (the superclass) to their `inherit` implementations confirms that the problem goes away.

[2020-10-13 02:24] pixelzoom commented on #293
I really don't understand what's going wrong here, and why it's manifesting in `PaperNumberNode`.  I suspect this is another case where we need to use `this` before calling `super`.     To quiet CT, I rolled back `MakeATenExploreScreenView` and `MakeATenCommonView` to their inherit implementations in the above commit.

@jonathanolson would you mind converting `MakeATenExploreScreenView` and `MakeA

[2020-10-13 05:27] jonathanolson commented on #293
Was calling subtype-overridden methods before they could use their subtype fields (apparently you can do `emitter.addListener( undefined )` without errors now?)

Back to you.

[2020-10-13 15:27] pixelzoom commented on #293
Thanks! Closing.

[2020-10-13 15:27] #293 closed

[2021-02-04 16:27] KatieWoe commented on #292
Seen again 2/4/2021
[code]

[2021-02-09 17:04] pixelzoom commented on #292
In 2/4/21 dev meeting, we established that this may be due to CT multi-touch fuzz testing ( ?fuzzPointers=2) being enabled for phetsims/aqua#106.

[2021-03-11 15:19] samreid opened #294 "For loop cannot loop"
As part of https://github.com/phetsims/chipper/issues/814, ESLint detected this code in make-a-ten/js/make-a-ten/common/view/MakeATenCommonView.js

[code]

Note that the loop cannot loop since it always returns.  This seems potentially buggy, so I'll mark blocks publication.  I will also opt out of the lint rule for now so that it doesn't show as a lint error, but as part of the resolution for thi

[2021-04-06 16:15] pixelzoom commented on #292
Still occurring as of 4/6/2021, 7+ months after first reported.

[2021-05-18 16:28] samreid commented on #137
@chrisklus and I discovered this while working on https://github.com/phetsims/number-play/issues/19

[2021-05-18 16:47] samreid opened #295 "Plus sign overlaps numbers"
Discovered during https://github.com/phetsims/number-play/issues/19, @chrisklus and I noticed that the plus sign overlaps the numbers:

![image](https://user-images.githubusercontent.com/679486/118691421-4c831a00-b7c6-11eb-9eb6-d10701c36571.png)

[2021-05-19 04:37] jonathanolson commented on #137
Feel free to proceed!

[2021-05-20 18:46] chrisklus opened #296 "branch: peeledAndGrippyPapers"
Branch created to make a one off for trying out peeled papers and grippy ones in this sim. I'll delete once it's abandoned or merged.

[2021-06-07 15:57] KatieWoe opened #297 "CT perennial task failed"
[code]

[2021-06-08 15:48] jonathanolson commented on #297
Looks like some counting-common imports were wrong, fixed them in the above commit.

[2021-06-08 17:03] chrisklus commented on #297
Thanks @jonathanolson!

[2021-06-08 17:27] #297 closed

[2021-06-10 16:59] chrisklus opened #298 "CT various errors"
Various errors from common code changes in the last 24 hours  - I'll tend to cleanup here as I clean up work in Number Play from the last week.

[code]

[2021-06-15 03:08] chrisklus commented on #298
In https://github.com/phetsims/number-play/issues/19 I merged the two paper number implementations by using the paper number nodes from number-play, which were modified with peeled backgrounds and grippy lines. this was needed for a number-play one-off for student interviews. now that we are moving to a different design, i reverted the paper number nodes to as they were in make-a-ten, and the sim

[2021-07-02 22:04] chrisklus commented on #298
[code]

I looked into the continuing errors on CT today (show above) - haven't quite figured it out yet but I'm getting closer with logging. I can only reproduce with multitouch fuzzing.

relevent logging output to show the order of the problem:

[code]

The next steps are to follow the path of what happens when the paperNumber is removed - is the drag not being cancelled when the corressposding p

[2021-07-08 17:19] chrisklus commented on #298
I confirmed that the node is being disposed (and even added my own line of calling interruptSubtreeInput on the node, as well as trying to manually call interrupt() on `paperNumberNode.moveDragHandler`. It appears `end` is still being called on the dragListener after this. @jonathanolson is this expected? (does interrupting a drag call `end`?). Assuming not, then I'm pretty confused as to what's g

[2021-07-08 17:56] jonathanolson commented on #298
Interrupting a pressed DragListener definitely should be calling `end`.

[2021-07-15 15:32] chrisklus commented on #298
@jonathanolson can you see if the above commit makes sense to you? The patch for logging above should give some context, or I'm happy to pair to talk about the problem. But CT is passing now at least.

[2021-08-04 21:19] chrisklus opened #299 "Returning paper number temporarily makes sum incorrect"
In https://github.com/phetsims/number-play/issues/23, I generalized the target nodes from ExplorePanel into CountingCreatorNode (to replace OnesCreatorNode in Number Play). While doing so, I moved the max sum of 9999 from the explore panel to instead be the max of the range of sumProperty in MakeATenExploreModel, which felt like a nice improvement (and it made for a consistent way to get the max s

[2021-08-09 16:05] KatieWoe opened #300 "CT cannot read property getOriginPosition of undefined"
[code]

[2021-11-19 18:06] markgammon opened #301 "Decide whether to turn off UI sounds on next publication"
As part of the work done for https://github.com/phetsims/vegas/issues/77, UI sounds got turned on for this simulation.  Before the sim is published again from master, we should decide whether to turn the UI sounds off, leave them on and design and implement sounds for the rest of the interactions, or publish with a partial sound design.

If the decision is to turn them off, this can be accomplishe

[2021-12-15 00:12] markgammon opened #302 "Make a Ten - Publish 1.1 with new paper numbers"

[2022-01-26 06:02] chrisklus opened #303 "CT: e.getLocalBounds is not a function"
Make-A-Ten is breaking on startup:

[code]

[2022-01-26 06:04] chrisklus commented on #303
Fixed above, closing.

[2022-01-26 06:04] #303 closed

[2022-05-25 00:33] jonathanolson opened #304 "AdditionTermsNode layout messy and broken"
This looked broken BEFORE I did the layout switch-over, but it's currently a mess (go to the game screen, select the 7th level):

<img width="138" alt="image" src="https://user-images.githubusercontent.com/480878/170153594-6ceca098-ba10-41dd-b2df-7f967791680e.png">

I'm able to assist with correcting this. It was the last remaining case of a "actual functional behavior change" due to the layout up

[2022-05-26 03:27] chrisklus commented on #295
Closing, as a newer issue has been opened: https://github.com/phetsims/make-a-ten/issues/304

[2022-05-26 03:27] #295 closed

[2022-05-26 03:27] chrisklus commented on #304
Sounds great, thanks. Just closed an older issue that I think was the same problem.

[2022-10-06 16:26] pixelzoom opened #305 "Replace sim-specific code with LevelSelectionButtonGroup"
Related to https://github.com/phetsims/vegas/issues/108 ...

LevelSelectionButtonGroup is a new vegas UI component for creating the level-selection buttons for games.  It replaces boilerplate code in sims, and provides a consistent PhET-iO tandem structure.  Please convert this sim to use LevelSelectionButtonGroup.